[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
flask-bcrypt = "*"
flask-restx = "*"
flask-migrate = "*"
flask-script = "*"
flask-testing = "*"
python-dotenv = "*"
flask-uploads = "*"
psycopg2 = "*"
geoalchemy2 = "*"
flask-cors = "*"
flask-redis = "*"
flask-and-redis = "*"

[requires]
python_version = "3.6"
